// ----------header Style----------
.header {
    padding-block-start: 25px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .overlay {
            position: fixed;
            z-index: 3;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: black;
            opacity: 0.3;
            visibility: hidden;
            transition: 500ms;
        }

        .overlay:is(.active) {
            visibility: visible;
            opacity: 0.3;
        }

        .logo-container {
            display: flex;
            align-items: center;

            .fa-bars {
                font-size: 20px;
            }

            .logo img {
                width: 100px;
                margin-inline: 15px;
            }

            .button-navbar {
                margin-inline-end: 10px;
            }
        }

        .cart {
            border: 1px solid #E0E0E0;
            font-size: 14px;
            padding: 8px 14px;
            border-radius: 50px;

            .icon {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                vertical-align: middle;
                background-color: #274c5B;
                color: #FFFFFF;
                width: 26px;
                height: 26px;
                border-radius: 50%;
            }
        }

        // ------------Navbar
        .navbar {
            position: fixed;
            height: 100vh;
            background-color: #FFFFFF;
            top: 0;
            right: 0;
            width: 100%;
            max-width: 350px;
            padding-inline: 16px;
            transform: translateX(350px);
            transition: 500ms;
            z-index: 4;
            overflow-y: auto;

            .logo-navbar {
                margin-block: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .logo img {
                    width: 140px;
                }

                .fa-xmark {
                    font-size: 20px;
                }
            }

            .search {
                margin-block-end: 25px;

                form {
                    position: relative;
                }

                input {
                    background-color: #FAFAAFAf;
                    padding: 10px 15px;
                    border-radius: 50px;
                }

                button {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    top: 3px;
                    right: 12px;
                    color: #FAFAFA;
                    background-color: #7EB693;

                }
            }

            .list-menu {
                display: flex;
                flex-direction: column;
                gap: 17px;

                a {
                    font-weight: bold;
                    letter-spacing: 1.2px;
                }

                a:hover {
                    color: #7eb693;
                }

                .drop-down {
                    a.link-dropDown {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }

                .sub-menu {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    margin-block-start: 15px;
                    padding-inline-start: 15px;
                    background-color: #EAEAEA;
                    border-radius: 20px;
                    padding: 12px;
                    display: none;
                    transition: all 100ms;

                    li {
                        margin-bottom: 12px;
                        box-shadow: 0 1px 0.4px rgba(0, 0, 0, 0.1);
                    }

                    a {
                        padding-bottom: 3px;
                    }
                }

                .sub-menu:is(.active) {
                    display: block;
                }
            }
        }

        .navbar:is(.active) {
            transform: translateX(0px);
        }
    }


}

// ----------banner----------
.banner {
    .inner-banner {
        background-image: url(../assets/images/bg-banner-change.png);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 200px;
        margin-block-start: 20px;

        .content {
            display: flex;
            flex-direction: column;

            .title {
                padding-block-start: 20px;

                //Replace By Reused Style.....


                // h2 {
                //     font-size: 24px;
                //     margin-block-end: 20px;
                // }

                // small {
                //     color: #68A47f;
                //     font-family: "Yellowtail", cursive;
                //     font-size: 20px;
                //     font-weight: 500;
                //     font-style: normal;
                //     display: block;
                //     margin-block-end: 10px;
                // }

                .btn {
                    margin-block-end: 20px;
                }
            }
        }
    }
}

// ----------offer-banner----------
.offer-banner {
    ul {
        display: grid;
        gap: 6px;
        grid-template-columns: repeat(2, 1fr);
    }
}

//----------about----------
.about {
    background-color: #F9F8F8;
    font-size: 1.4rem;

    .image {
        img {
            display: none;
        }
    }

    .content {
        line-height: 1.4;
        align-items: flex-start;

        p {
            margin-block-end: 12px;
        }

        .points {
            margin-block-start: 20px;

            ul li {
                margin-block-end: 10px;
                display: flex;


                img {
                    width: 60px;
                    max-width: 60px;
                    flex: 0 0 auto;
                    padding-inline-end: 7px;
                }

                .icon figure {
                    background-color: #FFFFFF;
                    width: 60px;
                    height: 60px;
                    border-radius: 10px;
                    margin: 10px;
                }

                .text h4 {
                    font-size: 16px;
                    font-weight: 700;
                    margin-block-end: 5px;
                }
            }
        }
    }

}

//-----------products---------

.products {
    ul {
        margin-block-end: 20px;
        display: grid;
        gap: 20px;

        li .item {
            background-color: #f9f8f8;
            border-radius: 20px;
            padding: 15px;
            position: relative;


            figure {
                a {
                    display: block;
                    height: 200px;
                    overflow: hidden;
                    margin-block-end: 10px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: scale-down;
                        transition: 500ms;

                    }
                }
            }

            .cat {
                position: absolute;
                z-index: 2;
                color: #FAFAFA;
                background-color: #274c5B;
                font-size: 1.4rem;
                padding: 5px 10px;
                top: 20px;
                left: 20px;
                border-radius: 8px;
                transition: 300ms;
            }

            .cat:hover {
                color: #274c5B;
                background-color: #7fb392;
            }

            .caption {
                a {
                    font-size: 16px;
                    font-weight: 600;
                    display: block;
                    margin-block-end: 5px;

                }

                .info {
                    border-top: 1px solid #DEDDDD;
                    padding-top: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .price {
                        display: flex;
                        gap: 8px;

                        .old {
                            color: #B8B8B8;
                            text-decoration: line-through;
                        }

                        .new {
                            color: #274c5B;
                            font-size: 18px;
                            font-weight: bold;
                        }
                    }

                    // .stars {
                    //     display: flex;
                    //     gap: 3px;
                    //     color: #ffa858;
                    // }
                }
            }


        }

        .item:hover figure a img {
            transform: scale(1.1);
        }
    }
}

// ---------feedback---------------

.feedback {
    background-image: url(../assets/images/bg-feedback-section.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .swiper-pagination-bullet-active {
        background-color: #EFD372;
    }

    .slider {
        position: relative;
    }

    .item {
        figure {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-inline: auto;
            overflow: hidden;
            margin-block-end: 12px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .content {
            margin-block: 16px;
            font-size: 1.4rem;
            letter-spacing: 1.1px;
            line-height: 1.4;
        }

        .name {
            font-size: 1.2rem;

            h3 {
                font-size: 1.5rem;
                margin-block-end: 4px;
            }
        }
    }

    .swiper-pagination {
        bottom: -15px;
    }

    .statistics {
        border: 1px solid #DDDDDD;
        margin-block-start: 60px;
        padding: 12px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

        .inner-item {
            position: relative;
            width: 120px;
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f1f1f1;
            border-radius: 50%;
            padding: 5px;

            strong {
                font-size: 2rem;
                display: block;
                margin-block-end: 5px;
            }

            h5 {
                width: 50px;
                font-weight: 400;
            }
        }

        .inner-item::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 120px;
            height: 120px;
            border: 3px solid #7EB693;
            border-radius: inherit;
            // transform: scale(1.15);
        }
    }
}

// ---------offer---------------
.offer {
    background-color: #274c5B;

    .head {

        h2 {
            color: #FAFAFA;
        }

        .btn {
            display: none;
        }
    }



}

// ---------------who-we-are -------------------
.who-we-are {

    .container {
        padding: 0;

        .image {
            margin-block-end: 16px;
            position: relative;
            z-index: 1;
        }

        .content {
            background-color: #f9f8f8;
            padding-inline: 16px;
            padding-block: 35px;
            margin-inline: 16px;
            position: relative;
            z-index: 2;
            top: -70px;
            border-radius: 8px;

            .point {
                li {
                    margin-block-end: 16px;
                    font-size: 14px;
                    letter-spacing: 1px;
                    line-height: 1.4;

                    h3 {
                        font-weight: 500;
                        font-size: 17px;
                        margin-block-end: 5px;
                    }
                }
            }
        }
    }
}

//--------------gallery----------------
.gallery {
    margin-block-start: -100px;

    ul {
        display: grid;
        gap: 10px;

        li a.item {
            display: block;
            position: relative;
            height: 250px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 500ms;
            }

            strong {
                cursor: pointer;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #FAFAFA;
                padding: 12px 24px;
                font-weight: 500;
                border-radius: 8px;
                letter-spacing: 1.1px;
                transition: 500ms;
                min-width: 150px;
                text-align: center;
            }
        }

        li:hover a.item img {
            filter: grayscale(0.5);
        }

        li a.item strong:hover {
            background-color: #274c5B;
            color: #FAFAFA;
            min-width: 170px;
        }
    }

}

//--------------blog----------------

.blog {
    .head {
        .btn {
            display: none;
        }
    }

    ul {
        display: grid;
        gap: 30px;
    }

    .item {
        position: relative;

        figure {
            position: relative;

            .date {
                position: absolute;
                left: 15px;
                top: 15px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #FAFAFA;
                color: #274c5B;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 14px;
                font-weight: 500;
                padding: 3px;
            }

            a.image {
                height: 200px;
                display: block;
                overflow: hidden;
                border-radius: 20px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .inner-text {
            font-size: 16px;
            line-height: 1.3;
            letter-spacing: 1px;
            box-shadow: 0px 20px 35px rgba(167, 167, 167, 0.25);
            padding: 20px 15px;
            border-radius: 28px;
            // ------------------
            background-color: #FAFAFA;
            position: relative;
            margin-block-start: -40px;

            .user {
                font-weight: 700;
                font-size: 14px;
                margin-block-end: 5px;
                display: flex;
                align-items: center;
                gap: 6px;

                i {
                    color: #EFD372;
                }
            }

            .title {
                display: block;
                margin-block-end: 6px;
                font-size: 16px;
                font-weight: 600;
            }

            .inner-desc {
                margin-block-end: 15px;
            }
        }
    }
}

//--------------newsletter----------------

.newsletter {
    .content {
        background-image: url(../assets/images/newsletter.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 15px;
        border-radius: 12px;

        form {
            input {
                background-color: #FAFAFA;
                border-radius: 10px;
                width: 100%;
                max-width: 100%;
                height: 45px;
                padding: 10px 12px;
                margin-block-end: 12px;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.2;
                letter-spacing: 1px;

            }

            .btn {
                padding: 13px;
                width: 100%;
            }
        }

        .head {
            h2 {
                max-width: 180px;
                color: #FAFAFA;
                letter-spacing: 1px;
            }
        }
    }
}

//--------------Footer----------------

.footer {
    padding-block-start: 50px;

    .container {
        display: grid;

        .logo-container {
            order: -1;
        }
    }

    .item-footer {
        margin-block-end: 20px;
        padding-block-end: 20px;
        font-size: 16px;
        border-bottom: 1px solid #DDDDDD;

        .logo {
            text-align: center !important;
            display: block;
            margin-block-end: 12px;
        }

        .logo~p {
            margin-block-end: 12px;
            font-size: 16px;
        }

        .social {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;

            a {
                background-color: #EFF6F1;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                flex: 0 0 auto;
                cursor: pointer;
                transition: 300ms;

                i {
                    font-size: 20px;
                }
            }

            a:hover {
                color: #FAFAFA;
                background-color: #7eb693;
            }
        }

        h2 {
            font-size: 20px;
            margin-block-end: 18px;
        }

        strong {
            display: block;
            margin-block-end: 5px;
        }

        ul li {
            margin-block-end: 10px;
            transition: 300ms;
        }

        ul li:hover {
            color: #7EB693;
            padding-inline-start: 5px;
        }


    }


    .copyright {
        border-top: 1px solid #DDDDDD;
        padding-block: 15px;
        font-size: 14px;
        text-align: center;
    }
}

//------------------------------
//Responsive (Media Query) 
//------------------------------

@media screen and (min-width:575px) {


    //-----------reusedStyle----------
    .container {
        max-width: 550px;
        margin-inline: auto;
    }

    // ----------header Style----------


    // ----------banner----------------
    .banner {
        .inner-banner {
            min-height: 300px;

            .content {
                padding-block-start: 60px;
            }
        }
    }

    // ----------offer-banner----------


    //----------about------------------


    //-----------products--------------
    .products {
        ul {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // ---------feedback---------------
    .feedback .statistics .inner-item {
        margin: auto;
    }

    // ---------offer------------------


    // ----------who-we-are -----------


    //--------------gallery------------

    .gallery {
        ul {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    //--------------blog---------------
    .blog {
        .head {
            text-align: center;
            padding-inline: 20px;
        }

        ul {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    //-----------newsletter------------
    .newsletter {
        form {
            display: flex;
            align-items: center;
            gap: 12px;


            input {
                margin-block-end: 0;
                min-height: 40px;
            }

            .btn {
                flex: 0 0 150px;
                margin-block-start: -12px;
            }
        }
    }

    //-----------Footer----------------


}

@media screen and (min-width:768px) {

    //-----------reusedStyle----------
    .container {
        max-width: 750px;
    }

    .btn {
        font-size: 17px;
    }

    // ----------header Style----------


    // ----------banner----------------
    .banner {
        .inner-banner {
            min-height: 400px;

            .content {
                padding-block-start: 80px;

                .head {
                    small {
                        font-size: 26px;
                    }

                    h2 {
                        font-size: 37px;
                        margin-block-end: 28px;
                    }
                }

                .title .btn {
                    font-size: 17px;
                }
            }
        }

    }

    // ----------offer-banner----------


    //----------about------------------

    //-----------products--------------


    // ---------feedback---------------


    // ---------offer------------------


    // ----------who-we-are -----------


    //--------------gallery------------


    //--------------blog---------------


    //-----------newsletter------------


    //-----------Footer----------------
}

@media screen and (min-width:992px) {
    //-----------reusedStyle----------

    // ----------header Style----------


    // ----------banner----------------


    // ----------offer-banner----------


    //----------about------------------


    //-----------products--------------


    // ---------feedback---------------


    // ---------offer------------------


    // ----------who-we-are -----------


    //--------------gallery------------


    //--------------blog---------------


    //-----------newsletter------------


    //-----------Footer----------------
}

@media screen and (min-width:1200px) {
    //-----------reusedStyle----------

    // ----------header Style----------


    // ----------banner----------------


    // ----------offer-banner----------


    //----------about------------------


    //-----------products--------------


    // ---------feedback---------------


    // ---------offer------------------


    // ----------who-we-are -----------


    //--------------gallery------------


    //--------------blog---------------


    //-----------newsletter------------


    //-----------Footer----------------
}

@media screen and (min-width:1400px) {
    //-----------reusedStyle----------

    // ----------header Style----------


    // ----------banner----------------


    // ----------offer-banner----------


    //----------about------------------


    //-----------products--------------


    // ---------feedback---------------


    // ---------offer------------------


    // ----------who-we-are -----------


    //--------------gallery------------


    //--------------blog---------------


    //-----------newsletter------------


    //-----------Footer----------------
}