// header Style
.header {
    padding-block-start: 25px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .overlay {
            position: fixed;
            z-index: 3;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: black;
            opacity: 0.3;
            visibility: hidden;
            transition: 500ms;
        }

        .overlay:is(.active) {
            visibility: visible;
            opacity: 0.3;
        }

        .logo-container {
            display: flex;
            align-items: center;

            .fa-bars {
                font-size: 20px;
            }

            .logo img {
                width: 100px;
                margin-inline: 15px;
            }

            .button-navbar {
                margin-inline-end: 10px;
            }
        }

        .cart {
            border: 1px solid #E0E0E0;
            font-size: 14px;
            padding: 8px 14px;
            border-radius: 50px;

            .icon {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                vertical-align: middle;
                background-color: #274c5B;
                color: #FFFFFF;
                width: 26px;
                height: 26px;
                border-radius: 50%;
            }
        }

        // ------------Navbar
        .navbar {
            position: fixed;
            height: 100vh;
            background-color: #FFFFFF;
            top: 0;
            right: 0;
            width: 100%;
            max-width: 350px;
            padding-inline: 16px;
            transform: translateX(350px);
            transition: 500ms;
            z-index: 4;
            overflow-y: auto;

            .logo-navbar {
                margin-block: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .logo img {
                    width: 140px;
                }

                .fa-xmark {
                    font-size: 20px;
                }
            }

            .search {
                margin-block-end: 25px;

                form {
                    position: relative;
                }

                input {
                    background-color: #FAFAAFAf;
                    padding: 10px 15px;
                    border-radius: 50px;
                }

                button {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    top: 3px;
                    right: 12px;
                    color: #FAFAFA;
                    background-color: #7EB693;

                }
            }

            .list-menu {
                display: flex;
                flex-direction: column;
                gap: 17px;

                a {
                    font-weight: bold;
                    letter-spacing: 1.2px;
                }

                a:hover {
                    color: #7eb693;
                }

                .drop-down {
                    a.link-dropDown {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }

                .sub-menu {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    margin-block-start: 15px;
                    padding-inline-start: 15px;
                    background-color: #EAEAEA;
                    border-radius: 20px;
                    padding: 12px;
                    display: none;
                    transition: all 100ms;

                    li {
                        margin-bottom: 12px;
                        box-shadow: 0 1px 0.4px rgba(0, 0, 0, 0.1);
                    }

                    a {
                        padding-bottom: 3px;
                    }
                }

                .sub-menu:is(.active) {
                    display: block;
                }
            }
        }

        .navbar:is(.active) {
            transform: translateX(0px);
        }
    }


}

.banner {
    .inner-banner {
        background-image: url(../assets/images/bg-banner-change.png);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 200px;
        margin-block-start: 20px;

        .content {
            display: flex;
            flex-direction: column;

            .title {
                padding-block-start: 20px;


                h2 {
                    font-size: 24px;
                    margin-block-end: 20px;
                }

                small {
                    color: #68A47f;
                    font-family: "Yellowtail", cursive;
                    font-size: 20px;
                    font-weight: 500;
                    font-style: normal;
                    display: block;
                    margin-block-end: 10px;
                }

                .btn {
                    margin-block-end: 20px;
                }
            }
        }
    }
}

.offer-banner {
    ul {
        display: grid;
        gap: 6px;
        grid-template-columns: repeat(2,1fr);
    }
}