.container {
    padding-inline: 16px;
}

.btn {
    ///Default Color For Test
    background-color: #FAFAFA;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 12px;
    transition: 300ms;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn:hover {
    color: #FFFFFF;
    background-color: #68a47f;
}

.btn-primary {
    background-color: #EfD372;
}

.btn-dark {
    background-color: #274c5b;
    color: #FAFAFA;
}

.section-padding-40 {
    padding-block: 40px;
}

.head {
    margin-block-end: 20px;

    small {
        color: #68A47f;
        font-family: "Yellowtail", cursive;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        display: block;
        margin-block-end: 10px;
    }

    h2 {
        font-size: 24px;
        margin-block-end: 20px;
    }
}