.entry-header.shop-single-page {
    background-image: url(../assets/images/shop-single/shop-single-banner.png);
}


.shop-single {
    .inner-content {
        display: grid;
        gap: 12px;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

        .image {
            background-color: #f9f8f8;
            padding: 1rem;
            position: relative;
            border-radius: 20px;

            figure {
                height: 520px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
                border-radius: 20px;
            }

            .cat {
                position: absolute;
                top: 30px;
                left: 30px;
                background-color: #274c5b;
                color: #f9f8f8;
                font-size: 1.2rem;
                display: inline-flex;
                padding: 8px 15px;
                border-radius: 6px;
            }
        }

        .content {
            padding-inline-start: 30px;

            .name-price {
                margin-block-end: 20px;

                h4 {
                    font-size: 2rem;
                    margin-block-end: 5px;

                }

                .stars {
                    justify-content: flex-start;
                    margin-block-end: 5px;
                }

                .price {
                    margin-block-start: 8px;
                    display: flex;
                    gap: 8px;
                    align-items: flex-end;

                    .old {
                        color: #B8B8B8;
                        font-size: 18px;
                        text-decoration: line-through;
                    }

                    .new {
                        color: #274c5B;
                        font-size: 22px;
                        font-weight: bold;
                    }
                }
            }

            .desc {
                margin-block-end: 20px;

                p {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.4;
                    color: rgba($color: #274c5B, $alpha: 0.8);
                }
            }

            .form {
                display: flex;
                align-items: center;
                gap: 25px;

                .quantity {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    label {
                        font-weight: 700;
                    }

                    input {
                        min-height: 55px;
                        max-width: 110px;
                        border: 2px solid #274c5B;
                        border-radius: 10px;
                        font-size: 1.5rem;
                        font-weight: 700;
                        color: #274c5B;
                        padding: 1rem;
                    }



                }

                .button {

                    button.btn-dark {
                        min-height: 55px;
                    }
                }
            }
        }
    }

    .nav-tabs {
        display: flex;
        justify-content: center;
        column-gap: 20px;
        margin-block-end: 20px;

        .tab-link {
            display: block;
            background-color: hsla(137, 28%, 95%, 1);
            height: 55px;
            line-height: 55px;
            width: 250px;
            text-align: center;
            border-radius: 16px;
            color: hsla(197, 40%, 25%, 1);
            font-size: 20px;
            font-weight: 600;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
            transition: 300ms;
        }

        .tab-link:hover,
        .tab-link.active {
            color: hsla(137, 28%, 95%, 1);
            background-color: hsla(197, 40%, 25%, 1);
        }

    }

    .content-tabs {
        margin-block-end: 30px;

        .tab {
            margin-inline: auto;

            p {
                font-size: 16px;
                line-height: 1.4;
                font-weight: 400;
                text-align: center;
            }
        }

        .tab:not(.active) {
            display: none;
        }
    }
}


