@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
/* Reset All Element  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #ffffff;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #274c5b;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  background: none;
  border: none;
  outline: none;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

/* Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  padding-inline: 16px;
}

.btn {
  background-color: #FAFAFA;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 12px;
  transition: 300ms;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.btn:hover {
  color: #FFFFFF;
  background-color: #68a47f;
}

.btn-primary {
  background-color: #EfD372;
}

.btn-dark {
  background-color: #274c5b;
  color: #FAFAFA;
}

.btn-outlined {
  color: #274c5b !important;
  background-color: transparent;
  border: 1px solid;
}

.btn-outlined:hover {
  color: #FAFAFA !important;
  background-color: #274c5b;
}

.section-padding-40 {
  padding-block: 40px;
}

.head {
  margin-block-end: 20px;
}
.head small {
  color: #68A47f;
  font-family: "Yellowtail", cursive;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  display: block;
  margin-block-end: 10px;
}
.head h2 {
  font-size: 24px;
  margin-block-end: 20px;
}

.text-center {
  text-align: center;
}

.w-50 {
  width: 50%;
  margin-inline: auto;
}

.stars {
  display: flex;
  gap: 3px;
  color: #ffa858;
  justify-content: center;
  font-size: 14px;
}

.entry-header {
  min-height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-block-end: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.entry-title {
  font-size: 45px;
}

.header {
  padding-block-start: 25px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
  visibility: hidden;
  transition: 500ms;
}
.header .container .overlay:is(.active) {
  visibility: visible;
  opacity: 0.3;
}
.header .container .logo-container {
  display: flex;
  align-items: center;
}
.header .container .logo-container .fa-bars {
  font-size: 20px;
}
.header .container .logo-container .logo img {
  width: 100px;
  margin-inline: 15px;
}
.header .container .logo-container .button-navbar {
  margin-inline-end: 10px;
}
.header .container .cart {
  width: 120px;
  border: 1px solid #E0E0E0;
  font-size: 14px;
  padding: 8px 14px;
  border-radius: 50px;
}
.header .container .cart .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  background-color: #274c5B;
  color: #FFFFFF;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin: 3px;
}
.header .container .navbar {
  position: fixed;
  height: 100vh;
  background-color: #FFFFFF;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 350px;
  padding-inline: 16px;
  transform: translateX(350px);
  transition: 500ms;
  z-index: 4;
  overflow-y: auto;
}
.header .container .navbar .logo-navbar {
  margin-block: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .navbar .logo-navbar .logo img {
  width: 140px;
}
.header .container .navbar .logo-navbar .fa-xmark {
  font-size: 20px;
}
.header .container .navbar .search {
  margin-block-end: 25px;
}
.header .container .navbar .search form {
  position: relative;
}
.header .container .navbar .search input {
  min-width: 150px;
  background-color: rgba(39, 76, 91, 0.15);
  padding: 10px 15px;
  border-radius: 50px;
}
.header .container .navbar .search button {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 3px;
  right: 3px;
  color: #FAFAFA;
  background-color: #7EB693;
}
.header .container .navbar .list-menu {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.header .container .navbar .list-menu a {
  font-weight: bold;
  letter-spacing: 1.2px;
}
.header .container .navbar .list-menu a:hover {
  color: #7eb693;
}
.header .container .navbar .list-menu .drop-down a.link-dropDown {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .navbar .list-menu .sub-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-block-start: 15px;
  padding-inline-start: 15px;
  background-color: #DDDDDD;
  border-radius: 20px;
  padding: 12px;
  display: none;
  transition: all 100ms;
}
.header .container .navbar .list-menu .sub-menu li {
  margin-bottom: 12px;
  box-shadow: 0 1px 0.4px rgba(0, 0, 0, 0.1);
}
.header .container .navbar .list-menu .sub-menu a {
  padding-bottom: 3px;
}
.header .container .navbar .list-menu .sub-menu:is(.active) {
  display: block;
}
.header .container .navbar:is(.active) {
  transform: translateX(0px);
}

.banner .inner-banner {
  background-image: url(../assets/images/bg-banner-change.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  margin-block-start: 20px;
}
.banner .inner-banner .content {
  display: flex;
  flex-direction: column;
}
.banner .inner-banner .content .title {
  padding-block-start: 20px;
}
.banner .inner-banner .content .title .btn {
  margin-block-end: 20px;
}

.offer-banner ul {
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(2, 1fr);
}

.about {
  background-color: #F9F8F8;
  font-size: 1.4rem;
}
.about .image img {
  display: none;
}
.about .content {
  line-height: 1.4;
  align-items: flex-start;
}
.about .content p {
  margin-block-end: 12px;
}
.about .content .points {
  margin-block-start: 20px;
}
.about .content .points ul li {
  margin-block-end: 10px;
  display: flex;
}
.about .content .points ul li img {
  width: 60px;
  max-width: 60px;
  flex: 0 0 auto;
  padding-inline-end: 7px;
}
.about .content .points ul li .icon figure {
  background-color: #FFFFFF;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin: 10px;
}
.about .content .points ul li .text h4 {
  font-size: 16px;
  font-weight: 700;
  margin-block-end: 5px;
}

.products ul {
  margin-block-end: 20px;
  display: grid;
  gap: 20px;
}
.products ul li .item {
  background-color: #f9f8f8;
  border-radius: 20px;
  padding: 15px;
  position: relative;
}
.products ul li .item figure a {
  display: block;
  height: 200px;
  overflow: hidden;
  margin-block-end: 10px;
}
.products ul li .item figure a img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  transition: 500ms;
}
.products ul li .item .cat {
  position: absolute;
  z-index: 2;
  color: #FAFAFA;
  background-color: #274c5B;
  font-size: 1.4rem;
  padding: 5px 10px;
  top: 20px;
  left: 20px;
  border-radius: 8px;
  transition: 300ms;
}
.products ul li .item .cat:hover {
  color: #274c5B;
  background-color: #7fb392;
}
.products ul li .item .caption a {
  font-size: 16px;
  font-weight: 600;
  display: block;
  margin-block-end: 5px;
}
.products ul li .item .caption .info {
  border-top: 1px solid #DEDDDD;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products ul li .item .caption .info .price {
  display: flex;
  gap: 8px;
}
.products ul li .item .caption .info .price .old {
  color: #B8B8B8;
  text-decoration: line-through;
}
.products ul li .item .caption .info .price .new {
  color: #274c5B;
  font-size: 18px;
  font-weight: bold;
}
.products ul .item:hover figure a img {
  transform: scale(1.1);
}

.feedback {
  background-image: url(../assets/images/bg-feedback-section.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.feedback .swiper-pagination-bullet-active {
  background-color: #EFD372;
}
.feedback .slider {
  position: relative;
}
.feedback .item figure {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-inline: auto;
  overflow: hidden;
  margin-block-end: 12px;
}
.feedback .item figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.feedback .item .content {
  margin-block: 16px;
  font-size: 1.4rem;
  letter-spacing: 1.1px;
  line-height: 1.4;
}
.feedback .item .name {
  font-size: 1.2rem;
}
.feedback .item .name h3 {
  font-size: 1.5rem;
  margin-block-end: 4px;
}
.feedback .swiper-pagination {
  bottom: -15px;
}
.feedback .statistics {
  border: 1px solid #DDDDDD;
  border-radius: 12px;
  margin-block-start: 60px;
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.feedback .statistics .inner-item {
  position: relative;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 50%;
  padding: 5px;
}
.feedback .statistics .inner-item strong {
  font-size: 2rem;
  display: block;
  margin-block-end: 5px;
}
.feedback .statistics .inner-item h5 {
  width: 50px;
  font-weight: 400;
}
.feedback .statistics .inner-item::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 120px;
  height: 120px;
  border: 3px solid #7EB693;
  border-radius: inherit;
}

.offer {
  background-color: #274c5B;
}
.offer .head h2 {
  color: #FAFAFA;
}
.offer .head .btn {
  display: none;
}

.who-we-are .container {
  padding: 0;
}
.who-we-are .container .image {
  margin-block-end: 16px;
  position: relative;
  z-index: 1;
}
.who-we-are .container .content {
  background-color: #f9f8f8;
  padding-inline: 16px;
  padding-block: 35px;
  margin-inline: 16px;
  position: relative;
  z-index: 2;
  top: -70px;
  border-radius: 8px;
}
.who-we-are .container .content .point li {
  margin-block-end: 16px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.4;
}
.who-we-are .container .content .point li h3 {
  font-weight: 500;
  font-size: 17px;
  margin-block-end: 5px;
}

.gallery {
  margin-block-start: -100px;
  background-color: #F1F8F4;
}
.gallery ul {
  display: grid;
  gap: 10px;
}
.gallery ul li a.item {
  display: block;
  position: relative;
  height: 250px;
  overflow: hidden;
}
.gallery ul li a.item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 500ms;
}
.gallery ul li a.item strong {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FAFAFA;
  padding: 12px 24px;
  font-weight: 500;
  border-radius: 8px;
  letter-spacing: 1.1px;
  transition: 500ms;
  min-width: 150px;
  text-align: center;
}
.gallery ul li:hover a.item img {
  filter: grayscale(0.5);
}
.gallery ul li a.item strong:hover {
  background-color: #274c5B;
  color: #FAFAFA;
  min-width: 170px;
}

.blog .head .btn {
  display: none;
}
.blog ul {
  display: grid;
  gap: 30px;
}
.blog .item {
  position: relative;
}
.blog .item figure {
  position: relative;
}
.blog .item figure .date {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FAFAFA;
  color: #274c5B;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding: 3px;
}
.blog .item figure a.image {
  height: 200px;
  display: block;
  overflow: hidden;
  border-radius: 20px;
}
.blog .item figure a.image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog .item .inner-text {
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 1px;
  box-shadow: 0px 20px 35px rgba(167, 167, 167, 0.25);
  padding: 20px 15px;
  border-radius: 28px;
  background-color: #FAFAFA;
  position: relative;
  margin-block-start: -40px;
}
.blog .item .inner-text .user {
  font-weight: 700;
  font-size: 14px;
  margin-block-end: 5px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.blog .item .inner-text .user i {
  color: #EFD372;
}
.blog .item .inner-text .title {
  display: block;
  margin-block-end: 6px;
  font-size: 16px;
  font-weight: 600;
}
.blog .item .inner-text .inner-desc {
  margin-block-end: 15px;
}

.newsletter .content {
  background-image: url(../assets/images/newsletter.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15px;
  border-radius: 12px;
}
.newsletter .content form input {
  background-color: #FAFAFA;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  height: 45px;
  padding: 10px 12px;
  margin-block-end: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 1px;
}
.newsletter .content form .btn {
  padding: 13px;
  width: 100%;
}
.newsletter .content .head h2 {
  max-width: 180px;
  color: #FAFAFA;
  letter-spacing: 1px;
}

.footer {
  padding-block-start: 50px;
}
.footer .container {
  display: grid;
}
.footer .container .logo-container {
  order: -1;
}
.footer .item-footer {
  margin-block-end: 20px;
  padding-block-end: 20px;
  font-size: 16px;
  border-bottom: 1px solid #DDDDDD;
}
.footer .item-footer .logo {
  text-align: center !important;
  display: block;
  margin-block-end: 12px;
}
.footer .item-footer .logo ~ p {
  margin-block-end: 12px;
  font-size: 16px;
}
.footer .item-footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.footer .item-footer .social a {
  background-color: #EFF6F1;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  cursor: pointer;
  transition: 300ms;
}
.footer .item-footer .social a i {
  font-size: 20px;
}
.footer .item-footer .social a:hover {
  color: #FAFAFA;
  background-color: #7eb693;
}
.footer .item-footer h2 {
  font-size: 20px;
  margin-block-end: 18px;
}
.footer .item-footer strong {
  display: block;
  margin-block-end: 5px;
}
.footer .item-footer ul li {
  margin-block-end: 10px;
  transition: 300ms;
}
.footer .item-footer ul li:hover {
  color: #7EB693;
  padding-inline-start: 5px;
}
.footer .copyright {
  border-top: 1px solid #DDDDDD;
  padding-block: 15px;
  font-size: 14px;
  text-align: center;
}

@media screen and (min-width: 575px) {
  .container {
    max-width: 550px;
    margin-inline: auto;
  }
  .banner .inner-banner {
    min-height: 300px;
  }
  .banner .inner-banner .content {
    padding-block-start: 60px;
  }
  .products ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .feedback .statistics .inner-item {
    margin: auto;
  }
  .gallery ul {
    grid-template-columns: repeat(3, 1fr);
  }
  .blog .head {
    text-align: center;
    padding-inline: 20px;
  }
  .blog ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .newsletter form {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .newsletter form input {
    margin-block-end: 0;
    min-height: 40px;
  }
  .newsletter form .btn {
    flex: 0 0 150px;
    margin-block-start: -12px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 750px;
  }
  .btn {
    font-size: 17px;
  }
  .banner .inner-banner {
    min-height: 400px;
  }
  .banner .inner-banner .content {
    padding-block-start: 80px;
  }
  .banner .inner-banner .content .head small {
    font-size: 26px;
  }
  .banner .inner-banner .content .head h2 {
    font-size: 37px;
    margin-block-end: 28px;
  }
  .banner .inner-banner .content .title .btn {
    font-size: 17px;
  }
  .who-we-are {
    padding: 0 !important;
  }
  .who-we-are .container {
    max-width: 100%;
    display: flex;
    align-items: center;
  }
  .who-we-are .container .content {
    position: static;
    margin: 0;
    transform: translateX(-20%);
  }
  .who-we-are .image,
  .who-we-are .content {
    flex: 0 0 50%;
  }
  .gallery {
    margin: 0;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 950px;
  }
  .header {
    padding-block-start: 15px;
  }
  .header .container .button-navbar,
  .header .container .overlay {
    display: none;
  }
  .header .container .logo-container {
    order: -1;
  }
  .header .container .logo-container .logo {
    margin-inline-start: -30px;
  }
  .header .container .logo-container .logo img {
    width: 170px;
  }
  .header .container .navbar {
    all: unset;
    display: flex;
    order: 1;
    padding-inline-start: 25px;
  }
  .header .container .navbar .logo-navbar {
    display: none;
  }
  .header .container .navbar .search {
    margin: 0;
    margin-inline-start: 60px;
  }
  .header .container .navbar .search input {
    width: 200px;
    min-height: 50px;
    font-size: 16px;
    font-weight: 500;
  }
  .header .container .navbar .search button {
    font-size: 18px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 3px;
    right: 3px;
  }
  .header .container .navbar .list-menu {
    font-size: 14px;
    order: -1;
    flex-direction: row;
    align-items: center;
    gap: 25px;
  }
  .header .container .navbar .list-menu a.link-dropDown i {
    font-size: 12px;
    padding-inline-start: 2px;
  }
  .header .container .navbar ul .drop-down {
    position: relative;
  }
  .header .container .navbar ul .drop-down .sub-menu {
    position: absolute;
    min-width: 180px;
    padding-inline: 15px;
    box-shadow: 1px 1px 10px rgba(39, 76, 91, 0.35);
    transform: translateY(15px);
  }
  .header .container .cart {
    order: 2;
    min-width: 114px;
    margin-inline-start: 20px;
    font-size: 15px;
    text-align: center;
    min-height: 50px;
  }
  .header .container .cart .icon {
    padding: 5px;
  }
  .about .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .about .image img {
    display: block;
  }
  .products ul {
    grid-template-columns: repeat(3, 1fr);
  }
  .feedback .slider {
    margin-inline: auto;
    max-width: 65%;
  }
  .feedback .statistics {
    max-width: 65%;
    margin-block-start: 20px;
    margin-inline: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
  .who-we-are {
    padding: 0 !important;
  }
  .who-we-are .container {
    max-width: 100%;
    display: flex;
    align-items: center;
  }
  .who-we-are .container .image img {
    height: 600px;
    position: relative;
    width: auto;
  }
  .who-we-are .container .content {
    position: static;
    margin: 0;
    transform: translateX(-50%);
  }
  .who-we-are .image,
  .who-we-are .content {
    flex: 0 0 50%;
  }
  .gallery {
    margin: 0;
  }
  .blog .item figure a.image {
    height: 300px;
  }
  .newsletter .container .content {
    display: flex;
    align-items: center;
    padding-block: 60px;
    padding-inline: 30px;
  }
  .newsletter .container .content .head {
    flex: 0 0 40%;
  }
  .newsletter .container .content form {
    flex: 0 0 60%;
  }
  .footer .container {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
  .footer .container .item-footer {
    margin-block-end: 0;
    margin-inline-end: 15px;
    padding-block-end: 0;
    padding-inline-end: 15px;
    border-bottom: 0;
    border-right: 1px solid #DDDDDD;
  }
  .footer .container .item-footer:last-child {
    border-right: none;
  }
  .footer .container .logo-container {
    order: unset;
  }
  .footer .copyright {
    margin-block-start: 30px;
  }
  .footer .copyright .container {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 14px;
  }
  .container {
    max-width: 1150px;
  }
  .header {
    padding-block-start: 15px;
  }
  .header .container .button-navbar,
  .header .container .overlay {
    display: none;
  }
  .header .container .logo-container {
    order: -1;
    flex: 0 0 10%;
  }
  .header .container .logo-container .logo {
    margin-inline-start: -25px;
  }
  .header .container .logo-container .logo img {
    width: 170px;
  }
  .header .container .navbar {
    all: unset;
    display: flex;
    order: 1;
    flex: 0 0 80%;
    justify-content: space-between;
    align-items: center;
  }
  .header .container .navbar .logo-navbar {
    display: none;
  }
  .header .container .navbar .search {
    margin: 0;
    margin-inline-start: 60px;
  }
  .header .container .navbar .search input {
    width: 200px;
    min-height: 50px;
    font-size: 16px;
    font-weight: 500;
  }
  .header .container .navbar .search button {
    font-size: 18px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 3px;
    right: 3px;
  }
  .header .container .navbar .list-menu {
    font-size: 20px;
    order: -1;
    flex-direction: row;
    align-items: center;
    gap: 25px;
  }
  .header .container .navbar .list-menu a.link-dropDown i {
    font-size: 12px;
    padding-inline-start: 2px;
  }
  .header .container .navbar ul {
    margin-inline-start: 30px;
  }
  .header .container .navbar ul .drop-down {
    position: relative;
  }
  .header .container .navbar ul .drop-down .sub-menu {
    position: absolute;
    min-width: 180px;
    padding-inline: 15px;
    box-shadow: 1px 1px 10px rgba(39, 76, 91, 0.35);
    transform: translateY(15px);
  }
  .header .container .cart {
    order: 2;
    flex: 0 0 10%;
    margin-inline-start: 20px;
    font-size: 15px;
    text-align: center;
    min-height: 50px;
  }
  .header .container .cart .icon {
    padding: 5px;
  }
  .banner .inner-banner {
    min-height: 600px;
  }
  .banner .content {
    padding-block-start: 240px;
  }
  .products ul {
    grid-template-columns: repeat(4, 1fr);
  }
  .products ul li .item figure a {
    height: 250px;
  }
}
@media screen and (min-width: 1400px) {
  html {
    font-size: 18px;
  }
  .btn {
    font-size: 1.2rem;
  }
  .container {
    max-width: 1250px;
  }
  .section-padding-40 {
    padding-block: 60px;
  }
  .offer-banner ul {
    gap: 25px;
  }
  .about {
    font-size: 1.2rem;
  }
  .about .content .points ul li {
    align-items: center;
  }
  .about .content .points ul li .icon {
    width: 100px;
  }
  .about .content .points ul li .icon figure {
    width: 100px;
    height: 100px;
  }
  .about .content .points ul li .icon figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
  .products ul {
    grid-template-columns: repeat(5, 1fr);
  }
}
.main-about-page p {
  font-size: 16px !important;
  line-height: 1.5 !important;
  margin-block-end: 10px;
}

.entry-header.about-page {
  margin-block-start: 30px;
  background-image: url(../assets/images/about/about-banner.png);
}

.about.about-page {
  background-color: #FFFFFF;
  font-size: 16px;
}
.about.about-page .image {
  translate: -60px;
}
.about.about-page .content p {
  line-height: 1.5;
}
.about.about-page .content .points ul {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.about.about-page .content .points ul .text {
  all: unset;
  display: flex;
  align-items: center;
}
.about.about-page .content .points ul .text h4 {
  font-weight: 400;
  width: 150px;
}

.why-choose-us.about-page {
  background-color: #F9F8F8;
}
.why-choose-us.about-page .container .inner01 {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(2, 1fr);
  margin-block-end: 50px;
}
.why-choose-us.about-page .container .inner01 .content {
  padding-inline-end: 60px;
}
.why-choose-us.about-page .container .inner01 .content .head h2 {
  width: 350px;
}
.why-choose-us.about-page .container .inner01 .content ul li {
  margin-inline-start: 25px;
  margin-block-end: 25px;
  width: 80%;
}
.why-choose-us.about-page .container .inner01 .content ul li strong {
  display: inline-block;
  background-color: #ECECEC;
  padding: 12px;
  font-size: 16px;
  border-radius: 15px;
}
.why-choose-us.about-page .container .inner01 .content ul li strong::before {
  content: "";
  width: 15px;
  height: 15px;
  border: 4px solid #7EB693;
  border-radius: 50%;
  margin-inline-end: 8px;
  display: inline-block;
  vertical-align: middle;
}
.why-choose-us.about-page .container .inner01 .content ul li p {
  margin-block-start: 12px;
  margin-inline-start: 30px;
}
.why-choose-us.about-page .container .inner01 .image figure {
  max-height: 500px;
  overflow: hidden;
  border-radius: 20px;
}
.why-choose-us.about-page .container .inner01 .image figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.why-choose-us.about-page .container .inner02 ul {
  width: 90%;
  margin-inline: auto;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
.why-choose-us.about-page .container .inner02 ul li .item {
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 20px;
}
.why-choose-us.about-page .container .inner02 ul li .item .image {
  width: 60px;
  height: 60px;
  background-color: #F9F8F8;
  margin-inline: auto;
  margin-block-end: 10px;
  border-radius: 12px;
}
.why-choose-us.about-page .container .inner02 ul li .item .caption h3 {
  font-size: 18px;
  margin-block-end: 12px;
}
.why-choose-us.about-page .container .inner02 ul li .item .caption p {
  color: rgba(39, 76, 91, 0.6);
}

.team.about-page .container .head {
  margin-block-end: 30px;
}
.team.about-page .container .head p {
  font-size: 14px !important;
  font-weight: 500;
  letter-spacing: 1px;
}
.team.about-page .container ul.items {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.team.about-page .container ul.items .item {
  background-color: #F9F8F8;
  overflow: hidden;
}
.team.about-page .container ul.items .item .image {
  height: 400px;
  margin-block-end: 8px;
}
.team.about-page .container ul.items .item .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team.about-page .container ul.items .item .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team.about-page .container ul.items .item .text .inner-text h2 {
  margin-block-end: 8px;
}
.team.about-page .container ul.items .item .text .inner-socail a {
  padding-inline-start: 3px;
}/*# sourceMappingURL=style.css.map */