@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
/* Reset All Element  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #ffffff;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #274c5b;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  background: none;
  border: none;
  outline: none;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

/* Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  padding-inline: 16px;
}

.btn {
  background-color: #FAFAFA;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 12px;
  transition: 300ms;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.btn:hover {
  color: #FFFFFF;
  background-color: #68a47f;
}

.btn-primary {
  background-color: #EfD372;
}

.section-padding-40 {
  padding-block: 40px;
}

.header {
  padding-block-start: 25px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
  visibility: hidden;
  transition: 500ms;
}
.header .container .overlay:is(.active) {
  visibility: visible;
  opacity: 0.3;
}
.header .container .logo-container {
  display: flex;
  align-items: center;
}
.header .container .logo-container .fa-bars {
  font-size: 20px;
}
.header .container .logo-container .logo img {
  width: 100px;
  margin-inline: 15px;
}
.header .container .logo-container .button-navbar {
  margin-inline-end: 10px;
}
.header .container .cart {
  border: 1px solid #E0E0E0;
  font-size: 14px;
  padding: 8px 14px;
  border-radius: 50px;
}
.header .container .cart .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  background-color: #274c5B;
  color: #FFFFFF;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}
.header .container .navbar {
  position: fixed;
  height: 100vh;
  background-color: #FFFFFF;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 350px;
  padding-inline: 16px;
  transform: translateX(350px);
  transition: 500ms;
  z-index: 4;
  overflow-y: auto;
}
.header .container .navbar .logo-navbar {
  margin-block: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .navbar .logo-navbar .logo img {
  width: 140px;
}
.header .container .navbar .logo-navbar .fa-xmark {
  font-size: 20px;
}
.header .container .navbar .search {
  margin-block-end: 25px;
}
.header .container .navbar .search form {
  position: relative;
}
.header .container .navbar .search input {
  background-color: rgba(250, 250, 175, 0.6862745098);
  padding: 10px 15px;
  border-radius: 50px;
}
.header .container .navbar .search button {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 3px;
  right: 12px;
  color: #FAFAFA;
  background-color: #7EB693;
}
.header .container .navbar .list-menu {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.header .container .navbar .list-menu a {
  font-weight: bold;
  letter-spacing: 1.2px;
}
.header .container .navbar .list-menu a:hover {
  color: #7eb693;
}
.header .container .navbar .list-menu .drop-down a.link-dropDown {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .navbar .list-menu .sub-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-block-start: 15px;
  padding-inline-start: 15px;
  background-color: #EAEAEA;
  border-radius: 20px;
  padding: 12px;
  display: none;
  transition: all 100ms;
}
.header .container .navbar .list-menu .sub-menu li {
  margin-bottom: 12px;
  box-shadow: 0 1px 0.4px rgba(0, 0, 0, 0.1);
}
.header .container .navbar .list-menu .sub-menu a {
  padding-bottom: 3px;
}
.header .container .navbar .list-menu .sub-menu:is(.active) {
  display: block;
}
.header .container .navbar:is(.active) {
  transform: translateX(0px);
}

.banner .inner-banner {
  background-image: url(../assets/images/bg-banner-change.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  margin-block-start: 20px;
}
.banner .inner-banner .content {
  display: flex;
  flex-direction: column;
}
.banner .inner-banner .content .title {
  padding-block-start: 20px;
}
.banner .inner-banner .content .title h2 {
  font-size: 24px;
  margin-block-end: 20px;
}
.banner .inner-banner .content .title small {
  color: #68A47f;
  font-family: "Yellowtail", cursive;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  display: block;
  margin-block-end: 10px;
}
.banner .inner-banner .content .title .btn {
  margin-block-end: 20px;
}

.offer-banner ul {
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(2, 1fr);
}/*# sourceMappingURL=style.css.map */