@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
/* Reset All Element  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #ffffff;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #274c5b;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  background: none;
  border: none;
  outline: none;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

/* Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  padding-inline: 16px;
}

.btn {
  background-color: #FAFAFA;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 12px;
  transition: 300ms;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.btn:hover {
  color: #FFFFFF;
  background-color: #68a47f;
}

.btn-primary {
  background-color: #EfD372;
}

.btn-dark {
  background-color: #274c5b;
  color: #FAFAFA;
}

.section-padding-40 {
  padding-block: 40px;
}

.head {
  margin-block-end: 20px;
}
.head small {
  color: #68A47f;
  font-family: "Yellowtail", cursive;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  display: block;
  margin-block-end: 10px;
}
.head h2 {
  font-size: 24px;
  margin-block-end: 20px;
}

.text-center {
  text-align: center;
}

.stars {
  display: flex;
  gap: 3px;
  color: #ffa858;
  justify-content: center;
  font-size: 14px;
}

.header {
  padding-block-start: 25px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
  visibility: hidden;
  transition: 500ms;
}
.header .container .overlay:is(.active) {
  visibility: visible;
  opacity: 0.3;
}
.header .container .logo-container {
  display: flex;
  align-items: center;
}
.header .container .logo-container .fa-bars {
  font-size: 20px;
}
.header .container .logo-container .logo img {
  width: 100px;
  margin-inline: 15px;
}
.header .container .logo-container .button-navbar {
  margin-inline-end: 10px;
}
.header .container .cart {
  border: 1px solid #E0E0E0;
  font-size: 14px;
  padding: 8px 14px;
  border-radius: 50px;
}
.header .container .cart .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  background-color: #274c5B;
  color: #FFFFFF;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}
.header .container .navbar {
  position: fixed;
  height: 100vh;
  background-color: #FFFFFF;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 350px;
  padding-inline: 16px;
  transform: translateX(350px);
  transition: 500ms;
  z-index: 4;
  overflow-y: auto;
}
.header .container .navbar .logo-navbar {
  margin-block: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .navbar .logo-navbar .logo img {
  width: 140px;
}
.header .container .navbar .logo-navbar .fa-xmark {
  font-size: 20px;
}
.header .container .navbar .search {
  margin-block-end: 25px;
}
.header .container .navbar .search form {
  position: relative;
}
.header .container .navbar .search input {
  background-color: rgba(250, 250, 175, 0.6862745098);
  padding: 10px 15px;
  border-radius: 50px;
}
.header .container .navbar .search button {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 3px;
  right: 12px;
  color: #FAFAFA;
  background-color: #7EB693;
}
.header .container .navbar .list-menu {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.header .container .navbar .list-menu a {
  font-weight: bold;
  letter-spacing: 1.2px;
}
.header .container .navbar .list-menu a:hover {
  color: #7eb693;
}
.header .container .navbar .list-menu .drop-down a.link-dropDown {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .navbar .list-menu .sub-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-block-start: 15px;
  padding-inline-start: 15px;
  background-color: #EAEAEA;
  border-radius: 20px;
  padding: 12px;
  display: none;
  transition: all 100ms;
}
.header .container .navbar .list-menu .sub-menu li {
  margin-bottom: 12px;
  box-shadow: 0 1px 0.4px rgba(0, 0, 0, 0.1);
}
.header .container .navbar .list-menu .sub-menu a {
  padding-bottom: 3px;
}
.header .container .navbar .list-menu .sub-menu:is(.active) {
  display: block;
}
.header .container .navbar:is(.active) {
  transform: translateX(0px);
}

.banner .inner-banner {
  background-image: url(../assets/images/bg-banner-change.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  margin-block-start: 20px;
}
.banner .inner-banner .content {
  display: flex;
  flex-direction: column;
}
.banner .inner-banner .content .title {
  padding-block-start: 20px;
}
.banner .inner-banner .content .title .btn {
  margin-block-end: 20px;
}

.offer-banner ul {
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(2, 1fr);
}

.about {
  background-color: #F9F8F8;
  font-size: 1.4rem;
}
.about .content {
  line-height: 1.4;
  align-items: flex-start;
}
.about .content p {
  margin-block-end: 12px;
}
.about .content .points {
  margin-block-start: 20px;
}
.about .content .points ul li {
  margin-block-end: 10px;
  display: flex;
}
.about .content .points ul li img {
  width: 60px;
  max-width: 60px;
  flex: 0 0 auto;
  padding-inline-end: 7px;
}
.about .content .points ul li .icon figure {
  background-color: #FFFFFF;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin: 10px;
}
.about .content .points ul li .text h4 {
  font-size: 16px;
  font-weight: 700;
  margin-block-end: 5px;
}

.products ul {
  margin-block-end: 20px;
  display: grid;
  gap: 20px;
}
.products ul li .item {
  background-color: #f9f8f8;
  border-radius: 20px;
  padding: 15px;
  position: relative;
}
.products ul li .item figure a {
  display: block;
  height: 200px;
  overflow: hidden;
  margin-block-end: 10px;
}
.products ul li .item figure a img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  transition: 500ms;
}
.products ul li .item .cat {
  position: absolute;
  z-index: 2;
  color: #FAFAFA;
  background-color: #274c5B;
  font-size: 1.4rem;
  padding: 5px 10px;
  top: 20px;
  left: 20px;
  border-radius: 8px;
  transition: 300ms;
}
.products ul li .item .cat:hover {
  color: #274c5B;
  background-color: #7fb392;
}
.products ul li .item .caption a {
  font-size: 16px;
  font-weight: 600;
  display: block;
  margin-block-end: 5px;
}
.products ul li .item .caption .info {
  border-top: 1px solid #DEDDDD;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products ul li .item .caption .info .price {
  display: flex;
  gap: 8px;
}
.products ul li .item .caption .info .price .old {
  color: #B8B8B8;
  text-decoration: line-through;
}
.products ul li .item .caption .info .price .new {
  color: #274c5B;
  font-size: 18px;
  font-weight: bold;
}
.products ul .item:hover figure a img {
  transform: scale(1.1);
}

.feedback {
  background-image: url(../assets/images/bg-feedback-section.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.feedback .swiper-pagination-bullet-active {
  background-color: #EFD372;
}
.feedback .slider {
  position: relative;
}
.feedback .item figure {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-inline: auto;
  overflow: hidden;
  margin-block-end: 12px;
}
.feedback .item figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.feedback .item .content {
  margin-block: 16px;
  font-size: 1.4rem;
  letter-spacing: 1.1px;
  line-height: 1.4;
}
.feedback .item .name {
  font-size: 1.2rem;
}
.feedback .item .name h3 {
  font-size: 1.5rem;
  margin-block-end: 4px;
}
.feedback .swiper-pagination {
  bottom: -15px;
}
.feedback .statistics {
  border: 1px solid #DDDDDD;
  margin-block-start: 60px;
  padding-block-start: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.feedback .statistics .inner-item {
  position: relative;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 50%;
  padding: 5px;
}
.feedback .statistics .inner-item strong {
  font-size: 2rem;
  display: block;
  margin-block-end: 5px;
}
.feedback .statistics .inner-item h5 {
  width: 50px;
  font-weight: 400;
}
.feedback .statistics .inner-item::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 120px;
  height: 120px;
  border: 3px solid #7EB693;
  border-radius: inherit;
}/*# sourceMappingURL=style.css.map */